<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

## Jupyter Tricks and Python Inbuilt Methods/Attributes

_Author: Caroline Schmitt | DSI-ATL_ <br/>
_Edited: Tucker Allen | DSI-NYC_ & _Cameron Bronstein | DSI-SF-CC9_

---

Jupyter notebooks are incredibly useful not just for formatting code but also for compiling and presenting your results partially because they so seamlessly allow Markdown alongside code and output. Getting used to the keyboard shortcuts will make your work in them much easier.

In [1]:
# green cells, blue cells
# markdown vs. code
# this is a comment

In [ ]:
# this is a comment
my_variable = 6

### This is a title
#### This is a smaller title

In [ ]:
# I'm able to enter text in 'green mode'
# I'm not in blue mode!

To convert to-from code and markdown:
* Make sure you're in 'blue mode' (i.e. not editing the cell). You can get to blue mode from green mode by pressing `escape`
* Tap `m`

And back to code?
* Tap `y`

In [ ]:
# cut-paste

Printing code is much like in Slack, though we can prettify it by specifying what language we're using. Consider Python vs. SQL:

`one line`

```
print('Hello, world!')
```

```Python
print('Hello, world!')
```

```SQL
SELECT * FROM table;
```

## Methods and attributes

In [3]:
import string

In [4]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [5]:
type(string.ascii_letters)

str

In [6]:
my_letters = ['a', 'b']

In [7]:
my_letters.pop()

'b'

In [8]:
my_letters

['a']

In [9]:
my_letters.append('b')
my_letters

['a', 'b']

In [10]:
my_string = 'this is my string'

In [14]:
my_string.strip()

'this is my string'

In [ ]:
new_thing = 'a string'

In [ ]:
my_string.upper()

In [17]:
'the quick brown fox'.upper().lower() + ' jumped over the moon'

'the quick brown fox jumped over the moon'

In [18]:
'the quick brown fox'.capitalize()

'The quick brown fox'

In [20]:
test = 'the quick brown fox'
test.replace({'b': 'B',
              'f': 'F'})

TypeError: replace() takes at least 2 arguments (1 given)

In [ ]:
# use shift+enter to run a cell

In [ ]:
# use ctrl+enter to run a cell and stay with it
# tweak the cell
# a lotf
# more tweaks

Inside the method/function, you can hit `shift+tab` to view the docstrings (hit `shift + tab + tab` to view the expanded docstrings.) This is useful because it means we **don't have to memorize that much**!

## A whirlwind tour of some inbuilt functions

In [25]:
ex_list = [1, "word", {"key": "value"}, [1,2,3]]
ex_list

[1, 'word', {'key': 'value'}, [1, 2, 3]]

In [29]:
ex_list[::2]

[1, {'key': 'value'}]

In [30]:
len([1, 2, 3])

3

In [31]:
len('This string')

11

In [32]:
len('test')

4

Sum wants a list:

In [33]:
sum(1, 2, 3)

TypeError: sum expected at most 2 arguments, got 3

In [36]:
sum([1, 2, 3], 10)

16

In [37]:
# absolute value
abs(-3)

3

In [38]:
my_list = [7,2,3,4,5]

In [39]:
my_list[0]

7

In [40]:
import numpy

In [ ]:
numpy.abs

`any` and `all` can be useful for control flow:

In [45]:
any([True, False, False])

True

In [42]:
any([False, False, False])

False

In [46]:
any([0, 0, 0])

False

In [47]:
any([1, 0, 0])

True

In [48]:
all([True, True, True])

True

In [49]:
all([True, False, False])

False

In [50]:
all(['name_1', 'name_2', None])

False

Python has 'truthiness': `1` will evaluate as `True`, and `0` will evaluate as `False`:

In [51]:
False == 0

True

In [52]:
True == 1

True

If needed, we can get user input using `input()`:

In [53]:
name = input()

print('Hello, '+ name + '!')

print(f'Hello, {name}!')

Cameron
Hello, Cameron!
Hello, Cameron!

f-strings are fun and useful! They're a way of printing based on variable name

```Python
name = 'Caroline'
print(f'My name is {name}.')
```

```
My name is Caroline.
```

In [54]:
name = 'Caroline'
print('My name is {name}.')

My name is {name}.

In [71]:
name = 'Caroline'
print(f'My name is {name}.')

My name is Caroline.

The alternative to this is perfectly valid but slightly tedious:

```Python
name = 'Caroline'
print('My name is' + name + '.')
```

In [56]:
name = 'Caroline'
print('My name is             ' + name + '.')

My name is             Caroline.

Also can do the same with `.format()`, which I like. 

(_This will prove to be more useful in the near future._)

In [57]:
name = 'cameron'

print('Your instructor is: {}'.format(name.upper()))

Your instructor is: CAMERON

In [67]:
my_variable = input()

int(my_variable) + 10

10

20

In [59]:
def unique_letters(s):
    # returns count of unique letters
    return len(set(s.lower()))

In [63]:
len(set(string.ascii_letters.lower()))

26

In [61]:
unique_letters(string.ascii_letters)

26

In [ ]:
set(['a', 'a', 'b'])

**Note:** If you select text in a jupyter notebook, hitting parentheses will surround the whole item with parens. This works for brackets and quotation marks too.

In [ ]:
# try it!

We can cast types in Python by using `int()`, `float()`, `str()`, etc.:

In [64]:
type('fdsajkl')

str

In [69]:
int('10')

10

In [72]:
int('12') > 10

True

In [ ]:
int('1001')

In [73]:
float('12.1')

12.1

In [74]:
str(3)

'3'

In [ ]:
int('12')

One use case for casting might be if we wanted to extract dates from a string. Here's an implementation of what we discussed in the review:

In [78]:
bad_date =  "12-December-2016"

### As good practice in this course and beyond, maintain "LINEARITY" in all of your jupyter notebooks! This means that cells should execute succesfully in sequence from top to bottom

In [77]:
# check out all methods for a variable with tab..
bad_date.

SyntaxError: invalid syntax (<ipython-input-77-a7a673b80e3b>, line 2)

In [79]:
# .split() splits on spaces by default, but we can specify our "delimiter"
bad_date.split('-')

['12', 'December', '2016']

In [81]:
int(bad_date[14:])

16

In [82]:
int(bad_date.split('-')[0])

12

In [83]:
def date_cleaner(date):
    '''
    Takes a DAY-MONTH-YEAR string and returns integers for the day and year
    and a string for the month.
    '''
    
    # assigning multiple variables at once (sometimes called 'unpacking')
    day, month, year = bad_date.split('-')
    day = int(day)
    year = int(year)
    
    return [day, month, year]

In [84]:
date_cleaner(bad_date)

[12, 'December', 2016]

In [85]:
for each in date_cleaner(bad_date):
    print(type(each))

<class 'int'>
<class 'str'>
<class 'int'>

**Challenge:** 10 minutes 
- Change the `date_cleaner` function to output a dictionary.
- What are the keys? What are the values?
- Work with a neighbor; discuss the value of storing the data in each way.

In [90]:
def date_cleaner(date):
    
    # assigning multiple variables at once (sometimes called 'unpacking')
    # d = {}
    d = dict()
    day, month, year = bad_date.split('-')
    d["day"] = int(day)
    print(d)
    d['month'] = str(month)
    print(d)
    d['year'] = int(year)
    
    return d

In [91]:
date_cleaner(bad_date)

{'day': 12}
{'day': 12, 'month': 'December'}

{'day': 12, 'month': 'December', 'year': 2016}

In [86]:
def date_cleaner(date):
    '''
    Takes a DAY-MONTH-YEAR string and returns integers for the day and year
    and a string for the month.
    '''
    
    temp_dict = {}
    
    # assigning multiple variables at once (sometimes called 'unpacking')
    day, month, year = bad_date.split('-')
    temp_dict['day'] = int(day)
    temp_dict['month'] = month
    temp_dict['year'] = int(year)
    
    return temp_dict

In [87]:
date_cleaner(bad_date)

{'day': 12, 'month': 'December', 'year': 2016}

In [88]:
def date_cleaner(date):
    '''
    Takes a DAY-MONTH-YEAR string and returns integers for the day and year
    and a string for the month.
    '''
        
    # assigning multiple variables at once (sometimes called 'unpacking')
    day, month, year = bad_date.split('-')
    
    return {'day': int(day),
            'month': month, 
            'year': int(year)}

In [89]:
date_cleaner(bad_date)

{'day': 12, 'month': 'December', 'year': 2016}

# voila!